[Desktop Entry]
Version=0.5
Type=Application
Encoding=UTF-8
Name=pythm
Comment=pyGTK+ Music Player
TryExec=pythm
Exec=pythm
Icon=pythm
Categories=Application;AudioVideo;Audio;Player;
Terminal=false
