[Desktop Entry]
Version=0.5
Type=Application
Encoding=UTF-8
Name=pythm
Comment=pyGTK+ Frontend for MPD and mplayer
TryExec=pythm
Exec=pythm
Icon=openmoko-soundandvideo
Categories=Application;AudioVideo;Audio;Player;
Terminal=false
